<h2>Log In</h2>
<form class="form" action="/auth/login" method="POST">
  <label class="text" for="email">Email</label>
  <input class="text-input" id="email" type="text" name="email">

  <label class="text" for="password">Password</label>
  <input class="text-input" id="password" type="password" name="password">

  <button class="button text" type="submit">
    Login
  </button>
</form>

<br><br>
<% if (typeof errorMessage !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
<br><br>

<p class="account-message">
  Do not have an account yet?
  <a href="signup">Sign Up</a>
</p>