<% if (typeof user !== "undefined") { %>
  <div class="navbar">
    <ul class="navlinks">
      <li>
        <a href="#">Preferences</a>
      </li>
      <li>
        <a href="saved/?id=<%= user._id %>">Saved articles</a>
      </li>
      <li>
        <a href="auth/logout">Log Out</a>
      </li>
    </ul>
  </div>
<% } %>
<div class="map">
  <div id="map"></div>
  <div class="search-input">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGotWDrwHvXMsAajopiAqXCcWmIlVk9s&libraries=places"></script>
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/queryTwitter.js"></script>