<% if (typeof user !== "undefined") { %>
  <div class="navbar">
    <ul class="navlinks">
      <li>
        <a href="#">Preferences</a>
      </li>
      <li>
        <a href="saved/?id=<%= user._id %>">Saved articles</a>
      </li>
      <li>
        <a href="auth/logout">Log Out</a>
      </li>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </ul>
  </div>
<% } %>
<div class="map">
  <form action="/" method="POST" class="search-input" id="search-input">
        <input id="pac-input" class="controls" type="text" placeholder="Search">
  </form>
  <div id="map"></div>
</div>
<form action="/" method="POST" id="myform">
  Lat <input type="hidden" id="user-lat" name="userlat">
  Long <input type="hidden" id="user-lng" name="userlng">
</form>

<pre>
  <%- JSON.stringify(results) %>
</pre>
<ul>
  <% for(var key in results) { %>
    <%= results[key] %>
  <li><h4> 
  </h4></li>
  <% } %>
</ul>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGotWDrwHvXMsAajopiAqXCcWmIlVk9s&libraries=places"></script>
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/queryTwitter.js"></script>
<script type="text/javascript">
  var tweets = <%- JSON.stringify(results) %>;
</script>
