<div class="map">
  <div id="map"></div>
  <div class="search-input">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  </div>
  
  
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGotWDrwHvXMsAajopiAqXCcWmIlVk9s&libraries=places"></script>
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>




<!-- <h1>
  <%= title %>
</h1>
<p>Welcome to
  <%= title %>
</p>
<a href="/auth/login">Log In</a>
<a href="/auth/signup">Signup</a> -->