<div class="homepage">
  <h4 class="homepage-header">Home</h4>
  <div class="map">
    <form class="search-input" id="search-input">
          <input id="pac-input" class="controls" type="text" placeholder="Search">
    </form>
    <div id="map"></div>
  </div>
  <form id="myform">
    <input type="hidden" id="user-lat" name="userlat">
    <input type="hidden" id="user-lng" name="userlng">
  </form>
  
  <footer class="footer">
    <a href="/">
      <img src="/images/home_icon_active.png" alt="">
    </a>
    <a href="/saved">
      <img src="/images/star_inactive.png" alt="">
    </a>
    <a href="/settings">   
      <img src="/images/settings_inactive.png" alt="">
    </a>
    <a href="/auth/logout">
      <img src="/images/logout_inactive.png" alt="">
    </a>
  </footer>
</div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGotWDrwHvXMsAajopiAqXCcWmIlVk9s&libraries=places"></script>
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/queryTwitter.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

