<% if (typeof user !== "undefined") { %>
    <div class="navbar">
        <ul class="navlinks">
            <li>
                <a href="../">Main</a>
            </li>
            <li>
                <a href="#">Preferences</a>
            </li>
            <li>
                <a href="../auth/logout">Log Out</a>
            </li>
        </ul>
    </div>
<% } %>

<h1>Saved Articles</h1>
<div class="articles-container">
    <pre><%= JSON.stringify(articles) %></pre>
</div>

<script type="text/javascript" src="/javascripts/saved.js"></script>
<script type="text/javascript">
    var myArticles = <%- JSON.stringify(articles) %>;
</script>