<div class="saved-container">
    <h4 class="homepage-header">Saved articles</h4>
    
    <div class="articles-container">
        <h4 class="happening">Your saved news</h4>
    </div>
    
    <footer class="footer">
        <a href="/">
            <img src="../images/PNG/home_icon_active.png" alt="">
        </a>
        <a href="/saved">
            <img src="../images/PNG/star_inactive.png" alt="">
        </a>
        <a href="/settings">   
            <img src="../images/PNG/settings_inactive.png" alt="">
        </a>
        <a href="/auth/logout">
            <img src="../images/PNG/logout_inactive.png" alt="">
        </a>
    </footer>
</div>

<script type="text/javascript" src="/javascripts/saved.js"></script>
<script type="text/javascript">
    var myArticles = <%- JSON.stringify(articles) %>;
</script>