<h1>Saved Articles</h1>
<div class="articles-container">

</div>

<script type="text/javascript" src="/javascripts/saved.js"></script>
<script type="text/javascript">
    var myArticles = <%- JSON.stringify(articles) %>;
</script>