/* SETUP DEFAULT */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


a {
  color:inherit;
  text-decoration: none;
 }

h2 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 500;
}



/* LOGIN & SIGNUP */

.top-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3vh;
  margin: 8% 0;
}

.app-logo-name {
  background-image: url("../images/PNG/world_map.png");
  background-size: contain;
  font-family: DamascusBold;
  width: 80%;
  height: 20vh;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 20px;
  color: white;
  letter-spacing: -0.4px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

.login-with-twitter{
  display: flex;
  justify-content: center;
  padding: 5% 0 10% 0;
  width: 70%;
  margin: 0 auto;
}

.twitter-logo {
  background-color: #1b95e0;
  border: white solid 1px;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 4px 12px;
}

.page-split {
  color: #D2DFEE;
  text-align: center;
}

.login-user {
  margin: 5vh 0;
}

.login-button {
  font-family: Roboto-Bold;
  font-size: 18px;
  color: white;
  background-color: #1b95e0;
  width: 100%;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: 1px white solid;
  padding: 12px 0;
}

.account-message, .error-message {
  text-align: center;
  font-size: 1.3rem;
  color: #99B6D8;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
}

.button {
	background-color: white;
  border-radius: 3px;
  border: 1px solid white;
  display: inline-block;
  color: #4742B8;
  font-family: Roboto-Bold;
  text-decoration: none;
  margin: 1.5vh auto;
  font-size: 1.3rem;
  width: 70%;
  height: 2.6rem;
}
.button:hover {
	background-color:#6c7c7c;
}
button:focus, input:focus {
  outline: 0;
}

.text-input {
  margin: 1.5vh auto;
  font-size: 1.3rem;
  border: 3px solid #d2dfee;
  border-radius: 5px;
  background-color: inherit;
  height: 2.6rem;
  background-color: #d2dfee;
  color: #99B6D8;
  width: 70%;
}

input[type=text], input[type=password] {
  color: rgb(108, 130, 155);
}

.text {
  letter-spacing: 2px;
  font-weight: 300;
}


/* NAVBAR */
/* .navbar {
  display: flex;
  justify-content: flex-end;
  height: 8vh; */
  /* position: fixed; */
  /* z-index: 10;
  background-color: inherit;
  width: 100vw;
  border-bottom: 1px solid white;
} */
/* .navlinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlinks li a{
  padding-right: 5%;
  text-decoration: none; 
  color: black; 
} */
/* LANDING PAGE */
body {
  background-color: #4742b8;
  font-family: "Roboto", sans-serif;
}
/* -- header -- */

.homepage-header {
  color: black;
  background-color: #fff;
  text-align: center;
  padding: 2vh;
  font-weight: 400;
  height: 7vh;
  border-bottom: 1px solid rgba(250, 250, 250, 0.9);
}

/* -- map -- */
.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#map {
  margin-top: 8vh;
  height: 35vh;
  width: 100vw;
  margin: 0 auto;
}

/* -- list of tweets -- */
.happening {
  color: white;
  margin: 0.7rem 0 0 .7rem;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-weight: 400;
}

.top-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.tweets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 7vh;
}

.tweets-list li {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  margin: 1rem 0.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.tweets-list li img {
  border-radius: 50px;
  margin: 1px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.tweets-list li h4 {
  color: #4742b8;
  font-weight: medium;
  margin: 0.5rem 0 0 1rem;
}

.date {
  margin-left: 1rem;
  color: #99b6d8;
  line-height: 24px;
  font-style: italic;
}

.tweets-list .text {
  letter-spacing: 1px;
  color: rgba(62,61,79,0.87);
  line-height: 24px;
  font-weight: 300;
  font-size: .9rem;
}

/* -- footer -- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 7vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: inset 0 0 0 0 #b2b2b2;
  padding: 0 5%;
}

.footer img {
  height: 4vh;
  width: auto;
  margin: 2% 4% 2% 4%;
}

/* SEARCH INPUT */
#pac-input {
  position: absolute;
  z-index: 100;
  /* margin: 10px 10px 0 0; */
  outline: none;
  /* box-shadow: 0 0 0 0  rgba(0, 0, 0, 0.3); */
  background-color: rgba(250, 250, 250, 0.9);
  /* box-shadow: inset 0 0 0 0 #b2b2b2; */
  font-family: Roboto;
  font-size: 1rem;
  width: 40vw;
  height: 5vh;
  margin: 2.5vh 5vw 2.5vh 50vw;
  border-radius: 5px;
  align-items: right;
  border: none;
  padding: 1rem;
}

/* GOOGLE MAPS DEFAULT STYLING */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
} */

/* #pac-input:focus {
  border-color: #4d90fe;
} */

/* #title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
} */
#target {
  width: 345px;
}


/* FOR OTHER SCREENS */
@media (min-width: 850px) {
  .tweets {
    max-width: 80vw;
    margin: 0 auto;
  }


  
}
