/* SETUP DEFAULT */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2f8ff;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #00b7ff;
}

h2 {
  margin: 15vh auto 5vh;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 500;
}

/* LOGIN & SIGNUP */
.account-message, .error-message {
  text-align: center;
  font-size: 1.3rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
}

.button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #fff;
	display:inline-block;
	color:#fff;
	font-family:Arial;
  padding:1rem 2rem;
  font-size: 1rem;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.button:hover {
	background-color:#6c7c7c;
}
button:focus, input:focus {
  outline: 0;
}

.text-input {
  margin: 5vh auto;
  font-size: 1.7rem;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: inherit;
  height: 3.2rem;
}

.text {
  letter-spacing: 2px;
  font-weight: 300;
}


/* NAVBAR */
/* .navbar {
  display: flex;
  justify-content: flex-end;
  height: 8vh; */
  /* position: fixed; */
  /* z-index: 10;
  background-color: inherit;
  width: 100vw;
  border-bottom: 1px solid white;
} */
/* .navlinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlinks li a{
  padding-right: 5%;
  text-decoration: none; 
  color: black; 
} */
/* LANDING PAGE */

/* -- header -- */
.homepage-header {
  color: black;
  text-align: center;
  height: 7vh;
}
.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#map {
  margin-top: 8vh;
  height: 35vh;
  width: 100vw;
  margin: 0 auto;
}

/* SEARCH INPUT */
#pac-input {
  position: absolute;
  z-index: 100;
  /* margin: 10px 10px 0 0; */
  border-radius: 2px 0 0 2px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  width: 40vw;
  height: 5vh;
  margin: 1.5vh auto;
}

/* GOOGLE MAPS DEFAULT STYLING */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
} */

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}


/* FOR OTHER SCREENS */
@media (min-width: 1000px) {
  #map {
    width: 80vw;
    margin: 0 auto;
  }
  
}
