/* SETUP DEFAULT */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  /* position: fixed; */
  z-index: 10;
  background-color: white;
  width: 100vw;
}
.navlinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlinks li {
  padding-right: 5%;
}
/* LANDING PAGE */
.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#map {
  margin-top: 5vh;
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
}

/* SEARCH INPUT */
#pac-input {
  position: fixed;
  z-index: 100;
  /* margin: 10px 10px 0 0; */
  border-radius: 2px 0 0 2px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  width: 25vw;
  height: 2vh;
  margin: 5vh auto;
}
